body {
   
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 1000px;
    background-color: rgba(127, 115, 115, 0.8);
}

table,
td,
th {
    border: 1px solid #333;
    border-collapse: collapse;
}

td,
th {
    padding: 6px 10px;
}

table thead th {
    text-align: left;
}

.table.table-hover tbody tr:hover:not(:focus) {
    background: white;
}

table thead th:first-child {
    width: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 100px;
    right: 150px;
}

#container button {
    padding: 15px 25px;
    font-size: 18px;
    width: 100px;       /* Chiều rộng của nút */
    height: 50px;
    border-radius: 20px; 
}

input {
    width: 100%;            /* Đặt độ rộng của input bằng 100% chiều rộng của ô chứa */
    border: none;           /* Ẩn viền của input */
    outline: none;          /* Ẩn viền khi input được chọn */
    background: transparent; /* Làm nền trong suốt */
    padding: 5px;          /* Thêm khoảng cách bên trong cho đẹp mắt (tùy chọn) */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước tổng thể */
}


body{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
tr:focus-within { 
    background-color: white; 
  }
  #container button:hover {
    background-color: rgb(214, 214, 214); /* Đổi màu nền khi hover */
    color: rgb(0, 0, 0); /* Đổi màu chữ khi hover */
  }
  .content .btn {
    display: inline-block;
    padding: 10px 20px; /* Điều chỉnh padding để thay đổi kích thước nút */
    background-color: #4CAF50; /* Màu nền mặc định */
    color: white;
    border: none;
    border-radius: 5px; /* Bo góc cạnh */
    text-decoration: none;
    transition: background-color 0.3s; /* Thêm hiệu ứng chuyển đổi mượt mà */
  }
  
  .content .btn:hover {
    background-color: #3e8e41; /* Màu nền khi hover */
    cursor: pointer; /* Thay đổi con trỏ chuột khi hover */
  } 
  .content {
    position: fixed; /* Giữ nút cố định khi cuộn trang */
    top: 13px; /* Khoảng cách từ nút đến mép trên */
    right: 10px; /* Khoảng cách từ nút đến mép phải */
  }
  .content h2 {
    position: fixed; /* Giữ nút cố định khi cuộn trang */
    top: 0px; /* Khoảng cách từ nút đến mép trên */
    right: 125px;
    color: white; /* Khoảng cách từ nút đến mép phải */
  }